/* common styles */
body {
  font-family: "Poppins", sans-serif;
}

header,
main {
  display: flex;
  justify-content: center;
}

.container-banner {
  width: 1199px;
  background-color: #2d25a0;
}

a {
  text-decoration: none;
  color: white;
}

hr {
  border: 1px solid #d1d1d1;
  margin-top: 20px;
}

/* Banner Style */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner-left {
  padding-left: 30px;
}

.banner-left h2 {
  font-weight: bold;
  font-size: 64px;
  color: white;
}

.banner-left button {
  width: 168px;
  height: 44px;
  background-color: #e02c6d;
  /* border: none; */
  padding: 10px 24px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.banner-left button:hover {
  font-size: 18px;
  font-weight: 700px;
}

.banner-right img {
  width: 556px;
  height: 438px;
  padding: 9px;
  margin: 9px;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.banner-right img:hover {
  width: 600px;
}

/* All Players Style */
.players {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.player {
  width: 330px;
  height: 474px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin: 15px;
  border-radius: 3px;
}

.player:hover {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.player img {
  width: 300px;
  height: 256px;
}

.player h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
}

/* footer syle */
footer {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer div img {
  width: 483.87px;
  height: 110px;
}

.footer-social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  font-size: 32px;
  width: 48px;
  height: 48px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 74, 148);
  border-radius: 30px;
}

/* All Fifa styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.blog {
  width: 570px;
  height: 617px;
  padding-top: 20px;
}

.blog img {
  width: 546px;
  height: 409px;
  border-radius: 9px;
}

.blog a {
  color: rgb(40, 74, 148);
}

/* FIFA PARTNERS styles */
.partner-title {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.partner {
  width: 178px;
  height: 93px;
  padding: 0 90px;
}

.partner img {
  width: 114px;
  height: 57px;
}

/************** style for Tablet devices *************/
@media only screen and (max-width: 1024px) {
  .banner {
    background-color: #2d25a0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-left {
    padding-left: 30px;
  }

  .banner-left h2 {
    font-weight: bold;
    font-size: 50px;
    color: white;
  }

  .banner-right img {
    width: 456px;
    height: 338px;
    padding: 9px;
    margin: 9px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .banner-right img:hover {
    width: 500px;
  }

  /* all players for tablet view */

  .players {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* footer syle for tablet view */
  footer div img {
    width: 300px;
    height: 75px;
  }

  .social-icon {
    font-size: 18px;
    width: 32px;
    height: 32px;
  }

  /* All Fifa styles for tablet view */
  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog {
    width: 682px;
    height: auto;
  }

  .blog img {
    width: 680px;
  }

  /* FIFA PARTNERS styles */
  .partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

/************** style for mobile devices *************/
@media only screen and (max-width: 414px) {
  .banner {
    background-color: #2d25a0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
  }

  .banner-left {
    padding-left: 30px;
  }

  .banner-left h2 {
    font-weight: bold;
    font-size: 45px;
  }

  .banner-right img {
    width: 329px;
    height: 259px;
    padding: 9px;
    margin: 9px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .banner-right img:hover {
    width: 329px;
  }

  /* all players for tablet view */

  .players {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* All Fifa styles for mobile view */
  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog {
    width: 270px;
    height: auto;
  }

  .blog img {
    width: 246px;
    height: 154px;
  }

    /* FIFA PARTNERS styles */
    .partners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .partner {
        width: 142px;
        height: 80px;
        padding: 0;
      }
}
